<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h1>추천 고백 장소</h1>
      <ul v-model="place" v-for="(pl, index) in place">
        <li v-if="index < 3">{{pl}}</li>
      </ul>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script>
      let vm = Vue.createApp({
        name: 'App',
        data() {
          return {
            place: [
              '한강공원',
              '루프탑 카페',
              '바닷가',
              '놀이공원',
              '분수광장',
            ],
          };
        },
      }).mount('#app');
    </script>
  </body>
</html>
