<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <style>
      .btnColor {
        background-color: aqua;
        color: black;
      }
      .btnLayout {
        text-align: center;
        width: 120px;
      }
      .btnBorder {
        border: khaki dashed 1px;
      }
    </style>
    <div id="app">
      <input type="checkbox" v-model="btnColor" />
      색상 <br />
      <input type="checkbox" v-model="btnLayout" />
      정렬 <br />
      <input type="checkbox" v-model="btnBorder" />
      테두리 <br />
      <!-- 앞의 이름은 class명, 뒤의 이름은 bool값 바인딩 -->
      <button class="staticBorder" :class="bntStyle">테스트 버튼</button>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script>
      let vm = Vue.createApp({
        name: 'App',
        data() {
          return {
            bntStyle: { btnColor: false, btnLayout: false, btnBorder: false },
          };
        },
      }).mount('#app');
    </script>
  </body>
</html>
